project:
  type: website

execute:
  freeze: auto

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: 
      - simplex
      - rivian.scss
    toc: true